<div class="hud-strip">
  <div class="hud-side">
    <span class="k">SYNC</span>
    <span class="v">UTC <span data-clock>00:00:00</span></span>
  </div>
  <div class="ecg" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg">
      <path d="" />
    </svg>
    <div class="ecg-readout">
      <b>HR</b> <span class="bpm" data-bpm>72</span> BPM &nbsp;·&nbsp; SINUS
    </div>
  </div>
  <div class="hud-side hud-side-r">
    <span class="k">BUILD</span>
    <span class="v">v3.5 STABLE</span>
  </div>
</div>